<?xml version="1.0" ?>
<model>
  <name>alpha_rover</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>richar-j</name>
  </author>
  <description>ExoMars Rosalind Franklin-inspired Alpha rover with 6x6x6+6 triple-bogie mobility and stereo engineering cameras</description>
</model>
